.venv
.env
__pycache__/
note.txt
# Ignore large data files
!data/raw/*_sample.csv

data/raw/*.csv
data/processed/*.csv
data/cleaned/bbe/*.csv
data/cleaned/goodbooks/*.csv
data/interim/bbe/*.pkl
data/interim/goodbooks/*.pkl
data/interim/bbe/*.csv
data/interim/goodbooks/*.csv