# Python
.venv
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

#  Jupyter Notebooks
.ipynb_checkpoints/
test.ipynb
note.txt

# ignore all CSVs 
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/cleaned/**/*.csv
data/interim/**/*.pkl
data/interim/**/*.csv

# except sample CSVs
!data/raw/*_sample.csv

# OS
.DS_Store
Thumbs.db
bookwise_analytics.egg-info/
bookwise_analytics.egg-info/*.txt