# Python
.venv
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

#  Jupyter Notebooks
.ipynb_checkpoints/
test.ipynb
note.txt

# ignore all CSVs, JSONs, and PKLs in data and outputs directories
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/enriched/**/*.csv
data/interim/**/*.pkl
data/interim/**/*.csv
outputs/datasets/**/*.csv
outputs/datasets/**/*.csv
outputs/eda_plots/*.png
# except sample CSVs
!data/raw/*_sample.csv

# OS
.DS_Store
Thumbs.db
bookwise_analytics.egg-info/
bookwise_analytics.egg-info/*.txt